body {
  background-color: #eee !important;
}

.expense-container {
  display: none;
  .hero {
    margin: 0 auto;
    padding: 20px 325px;

    .top-section {
      display: flex;
      position: relative;
      justify-content: space-between;

      .transaction-button-container {
        .transaction-button {
          background-color: rgb(67, 132, 244);
          border-radius: 4px;
          padding: 5px;
          .uil-plus-circle {
            color: white;
          }
          .add-button {
            color: white;
            padding: 5px 8px;
            font-weight: 600;
          }
        }
      }

      .calendar-container {
        .date-picker {
          .start-date,
          .end-date {
            border: none;
            padding: 5px 10px;
          }
        }
      }
    }

    .balance-section {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      .balance-info,
      .expense-info,
      .income-info {
        background: white;
        display: flex;
        flex-direction: column;
        padding: 5px 150px 5px 10px;
        border-radius: 10px;
        .balance-details,
        .expense-details,
        .income-details {
          padding-left: 5px;
          .info-title {
            display: block;
            font-size: 14px;
            color: #324c5b;
            font-weight: 600;
          }
          .info-number {
            display: block;
            font-size: 24px;
          }
        }
      }
      .balance-info,
      .income-info {
        .info-number {
          color: #2dba75;
        }
      }
      .expense-info {
        .info-number {
          color: #f14c52;
        }
      }
    }

    .transaction-list-section {
      position: relative;
      margin-top: 20px;
      background-color: white;
      border-radius: 10px;
      .date-field {
        padding: 15px 0 10px 10px;
        font-size: 14px;
        font-weight: 600;
      }
      .transaction-details {
        padding: 10px 20px;
        .date-section {
          padding-top: 10px;
          border-bottom: 1px solid #e5ebee;
          .date-data {
            font-size: 16px;
          }
          .transaction-item {
            padding: 16px 0 5px 30px;
            display: flex;
            justify-content: space-between;
            .category-container {
              display: flex;
              gap: 10px;

              .item-title {
                color: #324c5b;
                font-size: 16px;
              }
            }

            .item-amount {
              font-weight: 700;
              font-size: 16px;
            }
          }
        }
      }
      .transaction-detail-container {
        display: flex;
        position: absolute;
        width: 100%;
        .transaction-detail-items {
          background-color: #fff;
          width: 100%;
          position: relative;
          padding: 0 20px;
          .uis-times-circle {
            position: absolute;
            top: -27px;
            right: -15px;
            font-size: 2em;
            color: #7b93a4;
          }

          .transaction-detail-fields {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
            .transaction-title-field,
            .category-field,
            .date-field,
            .note-field,
            .amount-field {
              .form-title {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                color: #7b93a4;
                padding-bottom: 3px;
              }
              .border {
                padding: 5px;
                border: 1px solid #dee2e6 !important;
                border-radius: 4px;
              }
            }
          }
          .action-buttons {
            padding: 10px 0 15px;
            display: flex;
            justify-content: end;
            gap: 20px;

            .save-action,
            .delete-action,
            .cancel-action {
              padding: 10px;
              border-radius: 5px;
              max-width: 200px;
              width: 100%;
            }
            .save-action {
              background-color: #e5ebee;
              width: 100%;
              .action-title {
                color: #7b93a4;
                font-weight: 600;
              }
            }
            .delete-action {
              background-color: #f14c52;
              .action-title {
                color: #fff;
                font-weight: 600;
              }
            }
            .cancel-action {
              background-color: #7b93a4;
              .action-title {
                color: #fff;
                font-weight: 600;
              }
            }
          }
        }
      }
      .page-navigation-container {
        position: absolute;
        bottom: -43px;
        right: 0;

        .page-link {
          text-decoration: none;
          display: inline-block;
          padding: 8px 16px;
          font-weight: 600;
          border-radius: 5px;
        }

        .page-link:hover {
          background-color: #ddd;
          color: black;
        }

        .page-navigation {
          background-color: #fff;
          color: black;
        }
      }
    }
  }
}

.modal-overlay-1,
.modal-overlay-2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.transaction-form-container {
  display: none;
  max-width: 860px;
  padding: 20px 10px 50px 20px !important;
  padding: 20px;
  position: absolute;
  background-color: white;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  .transaction-form-wrapper {
    position: relative;
    .uis-times-circle {
      position: absolute;
      top: -35px;
      right: -25px;
      font-size: 2em;
    }
    .transaction-detail-fields {
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .transaction-title-field,
      .category-field,
      .date-field,
      .note-field,
      .amount-field {
        .form-title {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          color: #7b93a4;
          padding-bottom: 3px;
        }
        .border {
          padding: 5px;
          border: 1px solid #dee2e6 !important;
          border-radius: 4px;
        }
      }
      .category-options {
        // display: none;
      }
    }
    .transaction-submit {
      position: absolute;
      bottom: -46px;
      right: 0px;
      padding-top: 25px;
      display: flex;
      justify-content: end;
      .submit-button {
        background-color: rgb(67, 132, 244);
        border-radius: 4px;
        padding: 10px 15px;
        font-weight: 600;
        color: white;
      }
    }
  }
}

.highlight-section-1,
.highlight-section-2 {
  // background-color: #fff; /* Background color of the highlighted section */
  // border-radius: 10px;
  padding: 20px;
  position: fixed;

  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Make sure it's above the overlay */
  // display: flex;
}
.highlight-section-1 {
  top: 15%;
  left: 70%;
}

.highlight-section-2 {
  top: 7%;
  left: 139%;
}

.email-error,
.password-error {
  display: none;
}

.login-container,
.signup-container {
  display: none;
}

.error-handler {
  display: none;
  background-color: #f8d7da;
  width: 300px;
  position: absolute;
  top: 48px;
  right: 10px;
  height: 40px;
  border-radius: 12px;
  .error-items {
    color: #721c24;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    align-items: center;
    margin: 0 auto;
    .error-title {
      padding-right: 5px;
    }
    .fa-bug {
      padding-right: 4px;
    }
  }
}
.alert-handler {
  display: none;
  background-color: #fff3cd;
  width: 300px;
  position: absolute;
  top: 48px;
  right: 10px;
  height: 40px;
  border-radius: 12px;

  .alert-items {
    color: #856404;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    align-items: center;
    margin: 0 auto;
    .alert-title {
      padding-right: 5px;
    }

    .fa-circle-exclamation {
      padding-right: 4px;
    }
  }
}

.success-handler {
  display: none;
  background-color: #d4edda;
  width: 300px;
  position: absolute;
  top: 48px;
  right: 10px;
  height: 40px;
  border-radius: 12px;

  .success-items {
    color: #155724;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    align-items: center;
    margin: 0 auto;
    .success-title {
      padding-right: 5px;
    }

    .fa-circle-exclamation {
      color: #155724;
      padding-right: 4px;
    }
  }
}

.fade-in {
  animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
