.navbar {
  padding: 0 1em !important;
  display: flex;
  height: inherit;
  width: 100%;
  background: white;
  border-bottom: solid 1px #e5ebee;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, 0.03);
  .site-title {
    display: contents;
  }
  .nav-links {
    margin: 0;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    .nav-item {
      padding: 10px 0;
      .link {
        color: #7b93a4;
        font-weight: 600;
        padding: 0 20px;
      }
    }
  }
  .profile-section {
    position: relative;
    .profile-name {
      color: black;
      font-size: 1.2em;
      font-weight: 600;
    }
    .dropdown-menu {
      position: absolute;
      display: none;
      // top: 35px;
      left: -114px;
    }
  }
}
