@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css");
@import url("https://unicons.iconscout.com/release-pro/v4.0.0/css/line.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
}

button:active,
button:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none !important;
}

.active-item {
  color: #12c48b !important;
}

.active-list {
  border-bottom: 2px solid #12c48b;
}

.email-error,
.password-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

body {
  background-color: #eee !important;
}

.expense-container {
  display: none;
}
.expense-container .hero {
  margin: 0 auto;
  padding: 20px 325px;
}
.expense-container .hero .top-section {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.expense-container .hero .top-section .transaction-button-container .transaction-button {
  background-color: rgb(67, 132, 244);
  border-radius: 4px;
  padding: 5px;
}
.expense-container .hero .top-section .transaction-button-container .transaction-button .uil-plus-circle {
  color: white;
}
.expense-container .hero .top-section .transaction-button-container .transaction-button .add-button {
  color: white;
  padding: 5px 8px;
  font-weight: 600;
}
.expense-container .hero .top-section .calendar-container .date-picker .start-date,
.expense-container .hero .top-section .calendar-container .date-picker .end-date {
  border: none;
  padding: 5px 10px;
}
.expense-container .hero .balance-section {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.expense-container .hero .balance-section .balance-info,
.expense-container .hero .balance-section .expense-info,
.expense-container .hero .balance-section .income-info {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 5px 150px 5px 10px;
  border-radius: 10px;
}
.expense-container .hero .balance-section .balance-info .balance-details,
.expense-container .hero .balance-section .balance-info .expense-details,
.expense-container .hero .balance-section .balance-info .income-details,
.expense-container .hero .balance-section .expense-info .balance-details,
.expense-container .hero .balance-section .expense-info .expense-details,
.expense-container .hero .balance-section .expense-info .income-details,
.expense-container .hero .balance-section .income-info .balance-details,
.expense-container .hero .balance-section .income-info .expense-details,
.expense-container .hero .balance-section .income-info .income-details {
  padding-left: 5px;
}
.expense-container .hero .balance-section .balance-info .balance-details .info-title,
.expense-container .hero .balance-section .balance-info .expense-details .info-title,
.expense-container .hero .balance-section .balance-info .income-details .info-title,
.expense-container .hero .balance-section .expense-info .balance-details .info-title,
.expense-container .hero .balance-section .expense-info .expense-details .info-title,
.expense-container .hero .balance-section .expense-info .income-details .info-title,
.expense-container .hero .balance-section .income-info .balance-details .info-title,
.expense-container .hero .balance-section .income-info .expense-details .info-title,
.expense-container .hero .balance-section .income-info .income-details .info-title {
  display: block;
  font-size: 14px;
  color: #324c5b;
  font-weight: 600;
}
.expense-container .hero .balance-section .balance-info .balance-details .info-number,
.expense-container .hero .balance-section .balance-info .expense-details .info-number,
.expense-container .hero .balance-section .balance-info .income-details .info-number,
.expense-container .hero .balance-section .expense-info .balance-details .info-number,
.expense-container .hero .balance-section .expense-info .expense-details .info-number,
.expense-container .hero .balance-section .expense-info .income-details .info-number,
.expense-container .hero .balance-section .income-info .balance-details .info-number,
.expense-container .hero .balance-section .income-info .expense-details .info-number,
.expense-container .hero .balance-section .income-info .income-details .info-number {
  display: block;
  font-size: 24px;
}
.expense-container .hero .balance-section .balance-info .info-number,
.expense-container .hero .balance-section .income-info .info-number {
  color: #2dba75;
}
.expense-container .hero .balance-section .expense-info .info-number {
  color: #f14c52;
}
.expense-container .hero .transaction-list-section {
  position: relative;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
}
.expense-container .hero .transaction-list-section .date-field {
  padding: 15px 0 10px 10px;
  font-size: 14px;
  font-weight: 600;
}
.expense-container .hero .transaction-list-section .transaction-details {
  padding: 10px 20px;
}
.expense-container .hero .transaction-list-section .transaction-details .date-section {
  padding-top: 10px;
  border-bottom: 1px solid #e5ebee;
}
.expense-container .hero .transaction-list-section .transaction-details .date-section .date-data {
  font-size: 16px;
}
.expense-container .hero .transaction-list-section .transaction-details .date-section .transaction-item {
  padding: 17px 0 15px 30px;
  display: flex;
  justify-content: space-between;
}
.expense-container .hero .transaction-list-section .transaction-details .date-section .transaction-item .category-container {
  display: flex;
  gap: 10px;
}
.expense-container .hero .transaction-list-section .transaction-details .date-section .transaction-item .category-container .item-title {
  color: #324c5b;
  font-size: 16px;
}
.expense-container .hero .transaction-list-section .transaction-details .date-section .transaction-item .item-amount {
  font-weight: 700;
  font-size: 16px;
}
.expense-container .hero .transaction-list-section .transaction-detail-container {
  display: flex;
  position: absolute;
  width: 100%;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items {
  background-color: #fff;
  width: 100%;
  position: relative;
  padding: 0 20px;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .uis-times-circle {
  position: absolute;
  top: -27px;
  right: -15px;
  font-size: 2em;
  color: #7b93a4;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .transaction-title-field .form-title,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .category-field .form-title,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .date-field .form-title,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .note-field .form-title,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .amount-field .form-title {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #7b93a4;
  padding-bottom: 3px;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .transaction-title-field .border,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .category-field .border,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .date-field .border,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .note-field .border,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .transaction-detail-fields .amount-field .border {
  padding: 5px;
  border: 1px solid #dee2e6 !important;
  border-radius: 4px;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons {
  padding: 10px 0 15px;
  display: flex;
  justify-content: end;
  gap: 20px;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .save-action,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .delete-action,
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .cancel-action {
  padding: 10px;
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .save-action {
  background-color: #e5ebee;
  width: 100%;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .save-action .action-title {
  color: #7b93a4;
  font-weight: 600;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .delete-action {
  background-color: #f14c52;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .delete-action .action-title {
  color: #fff;
  font-weight: 600;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .cancel-action {
  background-color: #7b93a4;
}
.expense-container .hero .transaction-list-section .transaction-detail-container .transaction-detail-items .action-buttons .cancel-action .action-title {
  color: #fff;
  font-weight: 600;
}
.expense-container .hero .transaction-list-section .page-container {
  position: absolute;
  bottom: -43px;
  right: 0;
}
.expense-container .hero .transaction-list-section .page-container .page-link {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 5px;
}
.expense-container .hero .transaction-list-section .page-container .page-link:hover {
  background-color: #ddd;
  color: black;
}
.expense-container .hero .transaction-list-section .page-container .page-navigation {
  background-color: #fff;
  color: black;
}

.modal-overlay-1,
.modal-overlay-2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.transaction-form-container {
  display: none;
  max-width: 860px;
  padding: 20px 10px 50px 20px !important;
  padding: 20px;
  position: absolute;
  background-color: white;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
}
.transaction-form-container .transaction-form-wrapper {
  position: relative;
}
.transaction-form-container .transaction-form-wrapper .uis-times-circle {
  position: absolute;
  top: -35px;
  right: -25px;
  font-size: 2em;
}
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .transaction-title-field .form-title,
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .category-field .form-title,
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .date-field .form-title,
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .note-field .form-title,
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .amount-field .form-title {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #7b93a4;
  padding-bottom: 3px;
}
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .transaction-title-field .border,
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .category-field .border,
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .date-field .border,
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .note-field .border,
.transaction-form-container .transaction-form-wrapper .transaction-detail-fields .amount-field .border {
  padding: 5px;
  border: 1px solid #dee2e6 !important;
  border-radius: 4px;
}
.transaction-form-container .transaction-form-wrapper .transaction-submit {
  position: absolute;
  bottom: -46px;
  right: 0px;
  padding-top: 25px;
  display: flex;
  justify-content: end;
}
.transaction-form-container .transaction-form-wrapper .transaction-submit .submit-button {
  background-color: rgb(67, 132, 244);
  border-radius: 4px;
  padding: 10px 15px;
  font-weight: 600;
  color: white;
}

.highlight-section-1,
.highlight-section-2 {
  padding: 20px;
  position: fixed;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Make sure it's above the overlay */
}

.highlight-section-1 {
  top: 15%;
  left: 70%;
}

.highlight-section-2 {
  top: 7%;
  left: 139%;
}

.email-error,
.password-error {
  display: none;
}

.login-container,
.signup-container {
  display: none;
}

.error-handler {
  display: none;
  background-color: red;
  width: 200px;
  position: absolute;
  top: 48px;
  right: 10px;
}

.fade-in {
  animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  min-width: 200px;
  background-color: #1c2028;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.selected-display {
  color: #fff;
}

.arrow {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: transform 0.3s;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1c2028;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.dropdown li {
  padding: 10px;
  line-height: 1.5;
  color: #fff;
  transition: background-color 0.3s;
}

.dropdown li:hover {
  background-color: #323742;
  border-radius: 8px;
}

.custom-dropdown.active .arrow {
  transform: rotate(180deg);
}

.custom-dropdown.active .dropdown {
  opacity: 1;
  visibility: visible;
}

.navbar {
  padding: 0 1em !important;
  display: flex;
  height: inherit;
  width: 100%;
  background: white;
  border-bottom: solid 1px #e5ebee;
  box-shadow: 0 4px 8px 0 rgba(48, 82, 120, 0.03);
}
.navbar .site-title {
  display: contents;
}
.navbar .nav-links {
  margin: 0;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.navbar .nav-links .nav-item {
  padding: 10px 0;
}
.navbar .nav-links .nav-item .link {
  color: #7b93a4;
  font-weight: 600;
  padding: 0 20px;
}
.navbar .profile-section {
  position: relative;
}
.navbar .profile-section .profile-name {
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}
.navbar .profile-section .dropdown-menu {
  position: absolute;
  display: none;
  left: -114px;
}

/*# sourceMappingURL=style.css.map */
